@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  font-size: 18px;
  font-family:'Roboto', Cochin, Georgia, Times, 'Times New Roman', serif;
}
table,th,td {
  text-align: center;
  font-size: 1rem;
}
th,td,caption {
  padding: 10px 5px;
}
tr:nth-child(even){
  background-color: #EFEFEF;
}
tr:nth-child(odd){
  background-color: white;
}
#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #acf6db 0,#b1f4e6,#b4edf9 100%);
}
body{
  min-height: 100vh;
  width: 100vw;
  
}
.country table caption {
  text-align: left;
}
th{
  width: 30%;
  
}
td{
  text-align: left;
  padding-left: 1rem;
  text-wrap: wrap;
  
  
}
a {
  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    margin: 0.5rem 0rem;
}
table{
  width: 100%;
  max-width: 1280px;
  table-layout: fixed;
  word-wrap: break-word;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 5px;
  margin-bottom: 2rem;
}
.countryList{
  margin: auto;
  width: 100%;
  padding: 20px;
  min-width: 200px;
  
}
.country{
  padding: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
select {
  margin-top: 1rem;
  width: 10%;
  font-weight: lighter;
  min-width: 250px;
  padding: 10px;
  font-size: 1.25rem;
  display: block;
  text-align: center;
}
caption{
  font-size: 1.5rem;
  background-color: #142d4c;
  color: #ececec;
  white-space: pre-line;
  padding-left: 2rem;
}
h3 {
  font-size: 2rem;
}
header{
  margin-top: 2rem;
  font-family:'Oswald','Roboto',sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  caption {
    font-size: 1rem;
  }
  th {
    font-size: .75rem;
  }
}
